body{
     padding:0;
    margin:0;
}


header{
background-color:#f7e771;
height: 100px;
width:auto;
 padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

header a{
    text-decoration: none;
    color:black;
    font-size:30px;
    font-weight: 1000;
}

header a:hover  {
text-decoration:underline;
}


.list{
    border-radius: 5px;
    display:flex;
    justify-content: center;
    background:transparent;
    font-family:'Lato', sans-serif ;
    position: relative;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   outline: none;
}



.orderForm{
display: flex;
justify-content: left;
}

button{
    border-radius: 5px;
    width: 150px;
    height:50px;
    background-color: rgb(255, 255, 0);
}

button:hover{
background-color: #978600;

}

button:active{
    transform: scale(0.9);
}


.form-group label{
display: block;
    align-items: top;
    margin: 10px;

}

.form-group input{
    margin-bottom: 40px;
}


.form-group textarea{
    margin-bottom: 40px;
}